.signUp {
  width: 350px;
  height: 45px;
  margin: 10px auto;
  padding: 30px 0;
  border: 1px solid #dbdbdb;
  font-size: 15px;
  text-align: center;

  span {
    color: #0095f6;
    font-weight: 700;
  }
}
