* {
  box-sizing: border-box;
}

span.subGray {
  font-size: 14px;
  color: #8e8e8e;
}

span.miniSubGray {
  font-size: 11px;
  color: #8e8e8e;
}

.textBold {
  font-weight: bold;
}

.miniTextBold {
  font-weight: bold;
  font-size: 13px;
}
