.asideHeader {
  display: flex;
  align-items: center;

  img {
    width: 70px;
    margin: 0;
    border-radius: 50%;
  }

  p {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 0 15px;
  }

  .wecode {
    color: #999999;
    font-weight: 400;
  }
}
