.recommend {
  width: 390px;
  height: 320px;
  border: 1px solid #bababa;
  overflow: hidden;
  margin-top: 25px;

  header {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;

    p {
      margin: 0 20px;
      font-size: 20px;
    }

    .gray {
      color: #a0a0a0;
      font-weight: 400;
    }
  }

  .friendRecommend {
    display: flex;
    align-items: center;

    img {
      width: 55px;
      margin: 10px 0 10px 20px;
      margin-left: 20px;
      margin-top: 10px;
      border-radius: 50%;
    }

    p {
      margin: 0 0 0 15px;
      font-size: 17px;
    }

    .id {
      font-weight: 700;
    }

    .together {
      color: #a0a0a0;
    }

    .follow {
      flex-grow: 1;
      text-align: right;
      color: #0095f6;
      font-size: 18px;
      font-weight: 700;
      padding-right: 20px;
    }
  }
}
