.story {
  width: 390px;
  height: 320px;
  border: 1px solid #bababa;
  overflow: hidden;
  margin-top: 25px;

  header {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;

    p {
      margin: 0 20px;
      font-size: 20px;
    }

    .gray {
      color: #a0a0a0;
      font-weight: 400;
    }
  }

  .friendStory {
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-bottom: 15px;

    p {
      margin: 0 0 0 15px;
      font-size: 17px;
    }

    .id {
      font-weight: 700;
    }

    .time {
      color: #a0a0a0;
    }
  }

  img {
    width: 60px;
    border: 3px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#fff, #fff),
      linear-gradient(
        -120deg,
        rgba(207, 48, 138, 1) 24%,
        rgba(249, 155, 76, 1) 100%
      );
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
}
